MONGO_URI=mongodb+srv://<username>:<password>@cluster0.example.mongodb.net/?retryWrites=true&w=majority
MONGO_DB=copilot
MONGO_COLLECTION=dashboard
USER_ID=UUID
STORAGE_PATH=<Path to /Code/User/workspaceStorage>
CSV_FILE=copilot_credit_usage.csv

